/*==============================================================================
    ASSEMBLY.CSS STYLESHEET
					
        Doig, Marisa
        Erick Fernandez de Arteaga
==============================================================================*/

/*==============================================================================
	Page Setup
==============================================================================*/

#assemble{
    width: 7em;
    height: 3em;
    margin-left: 45%;
    margin-right: 50%;
}

img {
    width: 10em;
    height: 4em;
}

td{
    text-align: center;
    margin: auto;
}